#header {background-color: red; color: white; height: 100px}

#content {background-color: green; color: white; height: 550px}

#footer {background-color: blue; color: white; height: 100px}

#wrapper {background-color: white; }
